<!doctype html>
<html lang='en'>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">

  </head>
  <body>
  	<%= message %>
  	<%= error %>
  </body>
</html>